.menu {
  flex: 1;
  display: flex;

  &__list {
    flex: 1;
    display: flex;
    justify-content: space-around;
  }

  &__link {
    white-space: nowrap;
    font-weight: 400;
  }
}

.menu__list.menu__list--foter {
  justify-content: start;
  width: 100%;
}
.menu__list--foter .menu__item {
  margin-right: 60px;
}
