.nav-slider {
  position: absolute;
  right: 0;
  bottom: 50px;
  z-index: 10;
  box-shadow: -20px 0 25px #000;

  &__icon {
    width: 178px;
  }
}

.nav-slider__item--activ .nav-slider__icon {
  border: 3px solid #dc9322;
}
