.reviews {
  &__container {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
  }
  &__title {
    margin-right: 115px;
    margin-bottom: 90px;
  }
  &__btn {
    margin-bottom: 90px;
  }
  &__list {
    flex-basis: 100%;
    display: flex;
  }
  &__item {
    max-width: 420px;
    margin-right: 75px;

    &:last-child {
      margin-right: 0;
    }
  }
}
