.socials {
  display: flex;

  &__item {
    width: 31px;
    margin-right: 40px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.socials__item--footer {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  margin-right: 20px;
  border-radius: 25px;
  border: 1px solid #ffffff;
  opacity: 0.3;
}

.socials__item--footer .socials__link {
  height: 22px;
}
.socials__icon--footer {
  height: 22px;
  fill: #ffffff;
}
