.triangles-bottom {
  position: relative;
  display: flex;

  &__item {
    width: 50%;
    fill: #ffffff;
  }
}

.triangles-top {
  position: relative;
  display: flex;

  &__item {
    width: 100%;
    fill: #ffffff;
  }
}
