.usefulness {
  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 110px;
    width: 40%;
  }
  &__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }
}
