.usefulness {
  &__content {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding-top: 110px;
    width: 40%;
    margin-bottom: 20px;
  }
  &__title {
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 20px;
  }
  &__image {
    position: absolute;
    left: -5%;
    top: 25%;
    z-index: -10;
  }
  &__skills {
    width: 60%;
    margin-left: auto;
  }
}
